.root {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

/*Sidebar*/

.menuBar{
    -fx-background-color:#FFFFFF;
    -fx-border-color: #991f18;
    -fx-border-radius: 20px 0 0 20px;
    -fx-background-radius: 20px 0 0 20px;
    -fx-border-width: 1px;
    -fx-spacing: 0px;
    -fx-alignment: Center;
}

.inner_pane{
    -fx-background-color: transparent;
    -fx-border-color:   #991f18;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-alignment: center;
    -fx-text-fill:  #991f18;
    -fx-padding: 0 0 30px 0;

}
.menuBtn{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-graphic-text-gap: 20px;
    -fx-alignment: center-left; /* Căn trái để các phần tử thẳng hàng */
    -fx-padding: 0 25px 0 25px; /* Thêm padding trái để tạo khoảng cách từ cạnh */
    -fx-text-fill:  #991f18;
}

.iconBtn{
    -fx-effect: innershadow(gaussian,  #991f18, 100, 1, 0, 0);
    -fx-cursor: hand;
}

.menuBtn:hover, menuBtn:pressed{
    -fx-border-width: 0 0 0 4px;
    -fx-border-color: #e32b19;
    -fx-background-color: #f1eae4;
    -fx-cursor: hand;
}

/*Content*/

/*Open*/
.notification{
    -fx-background-color: #fff;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0.5, 0.0, 0.0);
}

.notification:hover{
    -fx-background-color: #e7ecef;
}

.title{
    -fx-text-fill:  #991f18;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0, 0, 1);
    -fx-font-family: "Arial Black";
}

.filter_text{
    -fx-text-fill:#991f18;
    -fx-padding: 0 0  0 10px;
}



.menu-item {
    -fx-font-size: 13px;
    -fx-text-fill: #991f18 !important;
    -fx-padding: 6 12;
    -fx-border-width: none;
    -fx-background-color: #f8f7ff;
}

.reset_button{
    -fx-background-color: transparent;
    -fx-text-fill: #991f18 ;

}
.reset_button:hover{
    -fx-text-fill: #e32b19 ;
    -fx-cursor: hand;
}

/*Main*/

#Match_result{
    -fx-background-color: #fff;
}
.date-header {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #991f18;
}
.match-row {
    -fx-alignment: CENTER_LEFT;
    -fx-border-color: #f0f0f0;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 10 0 10 0;
}
.match-row:hover{
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(from 50% 50% to 100% 100%, #ff8c00, #991f18);
}
.time-label{
    -fx-font-weight: bold;
    -fx-border-width: 0.2px;
    -fx-border-color:#991f18;
    -fx-border-radius: 5px;
    -fx-pref-width: 40px;
    -fx-max-width: 80px;
    -fx-pref-height: 30px;
    -fx-alignment: center;
}
.league-label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #991f18;
}
.team-label
{
    -fx-pref-width: 120px;
    -fx-max-width: 140px;
    -fx-font-weight: bold;
    -fx-text-fill: #991f18;
}
.team-logo{
    -fx-fit-height: 30;
    -fx-fit-width: 30;
}
.team-group{
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 10;
    -fx-pref-width: 170px;
    -fx-max-width: 170px;

}
.stadium-icon{
    -fx-fit-height: 16;
    -fx-fit-width: 16;
    -fx-effect: innershadow(gaussian, #991f18, 100, 0.8, 0, 0);
}
.quick-view-label{
    -fx-padding:0px 5px 0px 5px;
    -fx-font-weight: bold;
    -fx-text-fill: #991f18;
    -fx-background-color: #fff;
    -fx-border-width: 0.2px;
    -fx-border-color: #f0f0f0;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-pref-height: 30px;
    -fx-cursor: hand;
}
.arrow-icon{
    -fx-fit-height: 16;
    -fx-fit-width: 16;
    -fx-effect: innershadow(gaussian, #ff8c00, 100, 0.8, 0, 0);
}

/*Management View*/
.ManagementBtn {

    -fx-border-color: #991f18;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(153,31,24,0.2), 5, 0, 0, 1);
    -fx-background-color: #991f18;
    -fx-text-fill: white;
}
.ManagementBtn:hover ,.selectedBtn {
    -fx-background-color: white;
    -fx-text-fill: #991f18;
    -fx-cursor: hand;
}
.combo-box, .text-field, .date-picker {
    -fx-background-color: white;
    -fx-border-color: #991f18;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
}
.form-label {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-font-weight: 600;
    -fx-label-padding: 0 10 0 0; /* padding right */
}


/*Club*/
.header {
    -fx-background-color: linear-gradient(to right bottom, #ff8c00, #991f18);
}
.search-container {
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-spacing: 5px;
}
.search-field {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-prompt-text-fill: #999;
    -fx-font-size: 14px;
}
.logo-view {
    -fx-fit-height: 80;
    -fx-fit-width: 80;
}
.team-card{
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-width: none;
    -fx-alignment: CENTER-LEFT;
    -fx-pref-width:200px ;
}
.team-card:hover {
    -fx-background-color: linear-gradient(to right bottom, #feb47b, #ff7e5f);
}
.team-card:hover .team-name,
.team-card:hover .arrow-club-icon{
    -fx-text-fill: white;
}
.team-name{
    -fx-font-weight: bold;
    -fx-text-fill: Black;
    -fx-font-size: 14px;
    -fx-max-width: 170px;
    -fx-pref-width: 130px;
}
.color-bar{
    -fx-background-color: #991f18;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-pref-width: 3px;
    -fx-pref-height: 3px;
}
.arrow-club-icon{
    -fx-text-fill: ff8c00;
    -fx-font-size: 20px;
}
.search-btn {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.grid-pane{
    -fx-background-color: white;
}